<div class="row">
  Using SWAPI: https://swapi.co/documentation
  <p>
    Build an application to select random people or starships and render their details to see who would win based on a common
    attribute. i.e. people have mass and starships have crew. A person with greater mass wins, a starship with more crew
    wins.
  </p>
  <p>
    The app should render the attributes from the resource in a simple web page that allows you to ‘play’ the game.
  </p>
  <p>
    Once two cards are displayed the app should declare one of the cards a winner based on the higher common attribute.
  </p>
  <p>
    Having displayed the winning card, the user should be able to play again using an action button that repeats the same request.
  </p>
  <p>
    Bonus points! These are not required, just adds to your portfolio in an interview: 1 - Score counter. If there are two
    players, left and right, show how many times each side has won. 2 - Option to select which resource to play against 3
    - Use Bootstrap-4 and display the details in a card https://getbootstrap.com/docs/4.1/components/card and the winning
    attribute in badges https://getbootstrap.com/docs/4.1/components/badge
  </p>
</div>